.inner-title-section
  background: url('../img/inner-offers.jpg') bottom right
  background-size: cover
  padding: 50px 0 65px
  max-width: 1500px
  margin: 0 auto
  h1
    color: white
    font-size: 48px
    margin-bottom: 20px
    font-weight: 300
  p
    color: white
    max-width: 700px
.inner-title-wrap
  +outer-container
  +pad(0 30px)

#Container .mix
  display: none

.services
  +outer-container
  +pad (0 30px)
.sort-menu
  +span-columns(3)
  background: $lightgray
.content-services
  +span-columns(9)
.mix
  +span-columns(12 of 12)
.mix:nth-child(2)
  +omega
.oferta-img
  height: 200px
  float: left

.mix
  height: 200px
  margin-bottom: 25px
  border: 1px solid #e9e8e9
  overflow: hidden
  display: block
  &:hover
    opacity: 0.6

.detalles-ofertas
  padding: 25px
  overflow: hidden
  position: relative
  h3
    margin: 0 0 15px 0
    color: $aqua
    font-size: 22px
    max-width: 300px
  p
    color: $lightgray
    font-size: 14px
  .precio-oferta
    position: absolute
    top: 0
    right: 0
    background: $aqua
    color: white
    font-weight: bold
    padding: 10px 20px
    font-size: 14px
.mixy
  width: 100%
  height: 300px
  margin: 0 0 10px
  color: red

.services
  margin-top: 40px
  margin-bottom: 40px
