.inner-title-section
  background-size: cover
  background: #104069
  padding: 50px 0 65px
  max-width: 1500px
  margin: 0 auto
  h1
    color: white
    font-size: 48px
    margin-bottom: 20px
    font-weight: 300
  p
    color: white
    max-width: 700px
.offers-background
  background: url('../img/inner-offers.jpg') center right
.inner-title-wrap
  +outer-container
  +pad(0 30px)

#Container .mix
  display: none

.ofertas
  +outer-container
  +pad (0 30px)
.sort-menu
  +span-columns(3)
  background: $lightgray
.content-services
  +span-columns(9)
.mix
  +span-columns(12 of 12)
.mix:nth-child(2)
  +omega
.oferta-img
  height: 200px
  float: left

.mix
  height: 200px
  margin-bottom: 25px
  border: 1px solid #e9e8e9
  overflow: hidden
  display: block
  position: relative
  &:hover
    opacity: 0.6

.detalles-ofertas
  padding: 25px 25px 0
  overflow: hidden
  position: relative
  h3
    margin: 0 0 15px 0
    color: #222
    font-size: 20px
    span
      color: $aqua
      margin-left: 10px
      float: right
  p
    color: $lightgray
.mixy
  width: 100%
  height: 300px
  margin: 0 0 10px
  color: red

.services
  margin-top: 40px
  margin-bottom: 40px
.offers-modal-link
  text-indent: -9999px
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
.sort-menu
  background: #f6f6f6
  margin-bottom: 25px
  button
    border: 0
    text-transform: none
    font-size: 15px
    font-weight: 400
    letter-spacing: 0
    border-radius: 0
    display: block
  .active
    background: $aqua
    color: white
